.emptyContainer{
	height: 40px;
}

.teamFavorite__title{
	 margin-left: 60px;
	 margin-bottom: 40px;
}

.teamFavorite__phone1 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 2;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.teamFavorite__center {
	background-color: #857BAF;
	z-index: 3;
	width: 70%;
	margin-left: 6%;
	height: 630px;
	margin-right: auto;
	position: relative;
}

.teamFavorite__center img:nth-child(1){
	width: 42%;
	margin-top: 6%;
	margin-right:-17%;
}
.teamFavorite__center img:nth-child(2){
	width: 42%;
	margin-top: 6%;
	margin-right:-10%;
	margin-left: -5%;
}
.teamFavorite__center img:nth-child(3){
	width: 42%;
	margin-top: 6%;
	margin-right:-10%;
	margin-left: -5%;
}

.teamFavorite__center2 img:nth-child(1){
	width: 42%;
	margin-top: 6%;
	margin-left:10%;
}

.teamFavorite__center2 img:nth-child(2){
	width: 42%;
	margin-top: 6%;
	margin-left:-20%;
}
.teamFavorite__center2 img:nth-child(3){
	width: 42%;
	margin-top: 6%;
	margin-left:-20%;
}

.teamFavorite__center3 img:nth-child(1){
	width: 42%;
	margin-top: 8%;
	margin-right:-17%;
}
.teamFavorite__center3 img:nth-child(2){
	width: 42%;
	margin-top: 8%;
	margin-right:-10%;
}
.teamFavorite__center3 img:nth-child(3){
	width: 42%;
	margin-top: 8%;
	margin-right:-10%;
	margin-left: -10%;
}

.teamFavorite__infoRight {
	background-color: #7d977d;
	color:white;
    z-index: 4;
	width: 27%;
	height: 450px;
    margin-left: 60%;
	margin-right: auto;
	padding: 2%;
	position: absolute ;
	margin-top: 70px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

 .teamFavorit__descr {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.teamFavorite__images {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-left: auto;
	margin-right:auto;
} 

.teamFavorite__images > img {
	width: 100%;
	margin-right: 7%;
	margin-left: 7%;
}

.teamFavorite__button{
	background-color: #f76568;
	border: none;
	border-radius: 25px;
	color: #fff;
	height: 2rem;
	z-index: 6;
	padding-right: 5%;
	padding-left: 5%;
}

.emptyContainerHigh{
	height: 150px;
}


.teamFavorite__phone2 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 2;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.teamFavorite__center2 {
	background-color: #DEDDE3;
	z-index: 3;
	width: 70%;
	margin-right: 6%;
	height: 630px;
	margin-left: auto;
	position: relative;
}

.teamFavorite__infoRight2 {
	background-color: #857BAF;
	color:white;
    z-index: 4;
	width: 27%;
	height: 450px;
    margin-right: 60%;
	margin-left: auto;
	padding: 2%;
	position: absolute ;
	margin-top: 70px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.teamFavorite__phone3 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 2;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.teamFavorite__center3 {
	background-color: #323138;
	z-index: 3;
	width: 70%;
	margin-left: 6%;
	height: 630px;
	margin-right: auto;
	position: relative;
}

.teamFavorite__infoRight3 {
	background-color: #587179;
	color:white;
    z-index: 4;
	width: 27%;
	height: 450px;
    margin-left: 55%;
	margin-right: auto;
	padding: 2%;
	position: absolute ;
	margin-top: 70px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}


{/* TEAM's FAV RESPONSIVENESS */}


@media screen and (min-width: 1200px) and (max-width: 1500px){

	.teamFavorite__center img:nth-child(1){
		width: 42%;
		margin-top: 15%;
		margin-right:-17%;
	}
	.teamFavorite__center img:nth-child(2){
		width: 42%;
		margin-top: 15%;
		margin-right:-10%;
		margin-left: -5%;
	}
	.teamFavorite__center img:nth-child(3){
		width: 42%;
		margin-top: 15%;
		margin-right:-10%;
		margin-left: -5%;
	}
	
	.teamFavorite__center2 img:nth-child(1){
		width: 42%;
		margin-top: 19%;
		margin-left:10%;
	}
	
	.teamFavorite__center2 img:nth-child(2){
		width: 42%;
		margin-top: 19%;
		margin-left:-20%;
	}
	.teamFavorite__center2 img:nth-child(3){
		width: 42%;
		margin-top: 19%;
		margin-left:-20%;
	}
	
	.teamFavorite__center3 img:nth-child(1){
		width: 42%;
		margin-top: 23%;
		margin-right:-17%;
	}
	.teamFavorite__center3 img:nth-child(2){
		width: 42%;
		margin-top: 23%;
		margin-right:-10%;
	}
	.teamFavorite__center3 img:nth-child(3){
		width: 42%;
		margin-top: 23%;
		margin-right:-10%;
		margin-left: -10%;
	}
	

  }



  @media screen and (min-width: 768px) and (max-width: 1200px){

	.teamFavorite__center img:nth-child(1){
		width: 50%;
		margin-top: 25%;
		margin-left: -10%;
		margin-right:-20%;
	}
	.teamFavorite__center img:nth-child(2){
		width: 50%;
		margin-top: 25%;
		margin-right:-15%;
		margin-left: -5%;
	}
	.teamFavorite__center img:nth-child(3){
		width: 50%;
		margin-top: 25%;
		margin-right:-10%;
		margin-left: -5%;
	}
	
	.teamFavorite__center2 img:nth-child(1){
		width: 50%;
		margin-top: 25%;
		margin-left:5%;
	}
	
	.teamFavorite__center2 img:nth-child(2){
		width: 50%;
		margin-top: 25%;;
		margin-left:-27%;
		margin-right: -20%
	}
	.teamFavorite__center2 img:nth-child(3){
		width: 50%;
		margin-top: 25%;
		margin-left:-8%;
	}
	
	.teamFavorite__center3 img:nth-child(1){
		width: 50%;
		margin-top: 27%;
		margin-right:-20%;
		margin-left: -10%;
	}
	.teamFavorite__center3 img:nth-child(2){
		width: 50%;
		margin-top: 27%;
		margin-right:-15%;
	}
	.teamFavorite__center3 img:nth-child(3){
		width: 50%;
		margin-top: 27%;
		margin-right:-10%;
		margin-left: -10%;
	}
	

  }



@media screen and (min-width: 415px) and (max-width: 768px){

	.teamFavorite__infoRight{
		width: 42%;
    	margin-left: 44%;
	}

	.teamFavorite__infoRight2{
		width: 42%;
    	margin-right: 40%;
	}

	.teamFavorite__center3 {
		margin-left: 1%;
	}

	.teamFavorite__infoRight3{
		width: 42%;
    	margin-left: 39%;
	}
	
	.teamFavorite__images {
		width: 70%;
		margin-right: 7%;
		margin-left: 7%;
	}

	.teamFavorite__center{
		display:flex;
		flex-direction: column;
	}

	.teamFavorite__center2{
		display:flex;
		flex-direction: column;
	}

	.teamFavorite__center3{
		display:flex;
		flex-direction: column;
	}



	.teamFavorite__center img:nth-child(1){
		width: 55%;
		margin-top: 20%;
		margin-left: 5%;
	}

	.teamFavorite__center img:nth-child(2){
		width: 55%;
		margin-top: 10%;
		margin-left: 5%;
	}
	.teamFavorite__center img:nth-child(3){
		display: none
	}
	
	.teamFavorite__center2 img:nth-child(1){
		width: 55%;
		margin-top: 20%;
		margin-left: 30%;
	}
	
	.teamFavorite__center2 img:nth-child(2){
		width: 55%;
		margin-top: 10%;
		margin-left: 30%;
	}
	.teamFavorite__center2 img:nth-child(3){
		display: none
	}
	
	.teamFavorite__center3 img:nth-child(1){
		width: 55%;
		margin-top: 20%;
		margin-left: 5%;
	}
	.teamFavorite__center3 img:nth-child(2){
		width: 55%;
		margin-top: 10%;
		margin-left: 5%;
	}
	.teamFavorite__center3 img:nth-child(3){
		display: none
	}

  }
  
  
  @media screen and (max-width: 414px){

.teamFavorite__infoRight{
	width: 38%;
	margin-left: 49%;
}

.teamFavorite__infoRight2{
	width: 38%;
	margin-right: 45%;
}

.teamFavorite__center3 {
	margin-left: 1%;
}

.teamFavorite__infoRight3{
	width: 38%;
	margin-left: 43%;
}
  
.teamFavorite__images {
	width: 60%;
	margin-right: 7%;
	margin-left: 7%;
}
    
  
}