
.selectorToolChoicesDiv{
    background-color: #5C747E;
}

.topTextSelector{
    margin-top: 5%;
    margin-left: 5%;
    margin-right : auto;
    color : white;
}

.tableSelector{
    margin-top: 2%;
    margin-bottom : 5%;
    margin-right : auto;
    margin-left: 5%; 
    color : white;
    text-align: center ;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}

.firstrow{
    text-align: right;
    display: flex;
    flex-direction: column;  
}

.verticalText{
    writing-mode: tb-rl;
    transform: rotate(180deg);
    margin-top : 20%;
    width : 160px;
    height : 160px;
    padding: 8%;
    padding-top : 12%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.otherRows{
    text-align: right;
    margin-left : 1%;
    margin-right: 2%;
    display: flex;
    flex-direction: column; 
}

.featureIcons{
    margin-top : 20%;
    width : 160px;
    height : 160px;
    border : 0.1em solid white ;
    padding: 8%;
    padding-top : 12%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.selectedIcons{
    margin-top : 20%;
    width : 160px;
    height : 160px;
    border : 0.1em solid #fcfc7c;
    color:#fcfc7c;
    padding: 8%;
    padding-top : 12%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.matchResultDiv{
    margin-bottom:3%;
}

.matchResultTitle{
    margin-top: 5%;
    margin-left: 5%;
    margin-right : auto;
    margin-bottom: 3%;
}

.matchResultImages{
    display: flex;
    flex-direction: row;
}

.matchMainImg{
    width: 70%;
}

.matchMainImg img{
    width:100%;
}

.matchResultInfos{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:5%;
    margin-bottom:5%;
    height: 100%
}

.matchCarousel{
    height: 35%;
    text-align: center;
}

.matchCarousel img{
    width: 60%;
    margin-top: -20%;
}

.matchTextTitles{
    text-align: center;
}

.matchModelName{
    margin-bottom:7%;
}

.matchModelDescription{
    text-align: center;
}

.matchIcons {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 4%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 4%;
}

.matchIcons img{
    margin-left:2%;
    margin-right:2%;
}

.matchAddButton{
    margin-top: 1%;
    padding-top: 0.7%;
    padding-bottom:0.7%;
    padding-right: 2%;
    padding-left: 2%;
    border: none;
    border-radius : 25px;
    background-color: #F76568;
    color:white;
    margin-left:auto;
    margin-right:auto;
}


.fullRangeButton{
    margin-top: 5%;
    padding-top: 0.7%;
    padding-bottom:0.7%;
    padding-right: 2%;
    padding-left: 2%;
    border: solid black 1px;
    border-radius : 25px;
    background-color: white;
    display: flex;
    margin-left:auto;
    margin-right:auto;
}

button a{
    text-decoration: none;
    color: black;
}

.fullRangeNavLink{
    text-decoration: none;
    color: black;
}



{/* SELECTOR RESPONSIVENESS */}

  @media screen and (min-width: 415px) and (max-width: 768px){

    .selectorToolChoicesDiv{
        margin-bottom: 5%;
    }

    .topTextSelector {
        width: 60%;
    }
    
    .tableSelector{
        margin-left: 0%; 
    }
    
    .verticalText{
        margin-top : 20%;
        width : 90px;
        height : 90px;
        font-size: 0.8rem;
    }
    
    .featureIcons{
        margin-top : 20%;
        width : 90px;
        height : 90px;
        padding: 4%;
        justify-content: space-around;
    }

    .selectedIcons{
        margin-top : 20%;
        width : 90px;
        height : 90px;
        padding: 4%;
        justify-content: space-around;
    }

    .featureIcons h5{
        font-size: 0.6rem;
    }

    .featureIcons p{
        display: none;
    }

    .selectedIcons h5{
        font-size: 0.6rem;
    }

    .selectedIcons p{
        display: none;
    }

    
    .matchResultImages{
        flex-direction: column;
        align-items: center;
    }

    .matchMainImg{
        width: 80%;
        margin-bottom: 10%;
    }

    .matchCarousel{
        margin-bottom: 8%;
    }

    .matchTextTitles{
        margin-bottom: 8%;
    }

    .matchModelDescription{
        margin-bottom: 8%;
    }

    .matchIcons{
        margin-bottom: 8%;
    }

    .matchAddButton{
        margin-bottom: 8%;
    }

    .fullRangeButton{
        margin-bottom: 8%;
    }

  }
  
  
  @media screen and (max-width: 414px){
      
    .selectorToolChoicesDiv{
        margin-bottom: 5%;
    }

    .topTextSelector {
        width: 60%;
    }
    
    .tableSelector{
        margin-left: 0%; 
    }
    
    .verticalText{
        margin-top : 20%;
        width : 90px;
        height : 90px;
        font-size: 0.8rem;
    }
    
    .featureIcons{
        margin-top : 20%;
        width : 90px;
        height : 90px;
        padding: 4%;
        justify-content: space-around;
    }

    .selectedIcons{
        margin-top : 20%;
        width : 90px;
        height : 90px;
        padding: 4%;
        justify-content: space-around;
    }


    .featureIcons h5{
        font-size: 0.6rem;
    }

    .featureIcons p{
        display: none;
    }

    .selectedIcons h5{
        font-size: 0.6rem;
    }

    .selectedIcons p{
        display: none;
    }
    
    .matchResultImages{
        flex-direction: column;
        align-items: center;
    }

    .matchMainImg{
        width: 80%;
        margin-bottom: 10%;
    }

    .matchCarousel{
        margin-bottom: 8%;
    }

    .matchTextTitles{
        margin-bottom: 8%;
    }

    .matchModelDescription{
        margin-bottom: 8%;
    }

    .matchIcons{
        margin-bottom: 8%;
    }

    .matchAddButton{
        margin-bottom: 8%;
    }

    .fullRangeButton{
        margin-bottom: 8%;
    }



  }

